@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Space Grotesk';
	src: url('./fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf');
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Space Grotesk Bold';
	src: url('./fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf');
	font-weight: bold;
	font-display: swap;
}
